/* create a responsive 5 rows grid layout with nav area, main area, item1 area, itme2 area, and footer area*/
/* Language: css */
/* Path: comingsoon\src\App.css */
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav"
    "main"
    "item1"
    "item2"
    "footer";
}
.customcolor {
  background: linear-gradient(180deg, #00ccff 0%, #7465e4 100%);
}
.navv {
  grid-area: nav;
}
.main {
  text-align: center;
  grid-area: main;
  background: rgb(239, 239, 239);
}
.item1 {
  text-align: center;
  height: 100%;
  grid-area: item1;
  background: linear-gradient(180deg, #00ccff 0%, #7465e4 100%);
}
.item2 {
  text-align: center;
  grid-area: item2;
  background: rgb(239, 239, 239);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.footer {
  text-align: center;
  grid-area: footer;
  height: 50px;
  background: linear-gradient(180deg, #00ccff 0%, #7465e4 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
